div.get-consultation
	div.get-consultation__left
		div.get-consultation__container
			h3.get-consultation__title Не можете определится <br>с&nbsp;выбором часов?

			p.get-consultation__desc Получите консультацию эксперта по часам 
				br
				|Позвоните или оставьте телефон 
				br
				|Свяжемся в течении 15 минут

	div.get-consultation__right
		div.get-consultation__container
			div.get-consultation__user
				img(src="images/get-consultation__user.png" alt="")
				a(href="tel:88005556033") 8 (800) <b>555-60-33</b>

			form.get-consultation__form(action="/" method="post")
				input(type="text" name="get_consultation_phone" placeholder="Введите телефон")
				button(type="submit") Получить консультацию

			div.get-consultation__disclaimer Регистрируясь на сайте , Вы понимаете условия 
				br
				|публичной оферты и политики 
				br
				|конфиденциальности