div.promo
	div.promo__item
		div.promo__img
			a(href="#")
				img(src="images/promo__img.png" alt="")

		div.promo__body
			h2.h2.promo__title При покупке 2 часов, в подарок часы

			ul.promo__list
				li Срок акции: <b>до 15 ноября 2019</b>
				li На что действует: <b>на все модели часов</b>

			a.promo__btn(href="#") Подробнее

	div.promo__item
		div.promo__img
			a(href="#")
				img(src="images/promo__img.png" alt="")

		div.promo__body
			h2.h2.promo__title При покупке 2 часов, в подарок часы

			ul.promo__list
				li Срок акции: <b>до 15 ноября 2019</b>
				li На что действует: <b>на все модели часов</b>

			a.promo__btn(href="#") Подробнее

	div.promo__item
		div.promo__img
			a(href="#")
				img(src="images/promo__img.png" alt="")

		div.promo__body
			h2.h2.promo__title При покупке 2 часов, в подарок часы

			ul.promo__list
				li Срок акции: <b>до 15 ноября 2019</b>
				li На что действует: <b>на все модели часов</b>

			a.promo__btn(href="#") Подробнее