body {
	/* 2 Block model */
	padding: 0;
	margin: 0;
	overflow-x: hidden;

	/* 3 Typography */
	font-family: $font-main;
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	color: #000000;
}
p,
ul {
	/* 2 Block model */
	padding: 0;
	margin: 0;
}
.wrapper {
	/* 2 Block model */
	width: 100%;
	overflow-x: hidden;
}
.overflow-hidden {
	/* 4 Visual */
	overflow: hidden;
}
.container {
	/* 1 Positioning */
	position: relative;
	
	/* 2 Block model */
	width: 100%;
	max-width: 540px;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: border-box;

	@media(min-width: 768px) {
		/* 2 Block model */
		max-width: 768px;
	}
	@media(min-width: 992px) {
		/* 2 Block model */
		max-width: 992px;
	}
	@media(min-width: 1200px) {
		/* 2 Block model */
		max-width: 1170px;
	}
}
.container--sm-no-gutters {
	/* 2 Block model */
	padding: 0;

	@media(max-width: 767px) {
		/* 2 Block model */
		max-width: 510px;
	}
	@media(min-width: 768px) {
		/* 2 Block model */
		padding: 0 15px;
	}
}
.wrapper-testimonials {
	/* 2 Block model */
	width: 100%;
	max-width: 320px;
	margin: 0 auto;

	@media(min-width: 768px) {
		/* 2 Block model */
		max-width: none;
	}
}
.sm-hide {
	/* 2 Block model */
	display: none;

	@media(min-width: 530px) {
		/* 2 Block model */
		display: block;
	}
}
.center {
	/* 3 Typography */
	text-align: center;
}
.sub-title {
	/* 2 Block model */
	margin: 0;

	/* 3 Typography */
	font-size: 23px;
	font-weight: 300;
	line-height: 28px;
	color: #3a3a3a;

	@media(min-width: 768px) {
		/* 2 Block model */
		padding-top: 8px;
	}
}
.sub-title-small {
	/* 2 Block model */
	margin: 0;

	/* 3 Typography */
	font-size: 16px;
	font-weight: bold;
	line-height: 22px;
	text-transform: uppercase;
}
.st {
	/* 3 Typography */
	font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.4px;

  @media(min-width: 768px) {
  	/* 3 Typography */
		font-size: 20px;
	  line-height: 26px;
  }
}

.intro-page {
	/* 2 Block model */
	height: 100vh;
	padding-top: 40px;
	padding-bottom: 40px;

	/* 4 Visual */
	background-color: #FFFFFF;
}
.intro-page__top {
	/* 2 Block model */
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}
.intro-page__list {
	/* 2 Block model */
	padding: 0;
	margin: 0;

	/* 4 Visual */
	list-style: none;
}
.intro-page__item {
	/* 2 Block model */
	margin-bottom: 15px;
}
.intro-page__item a {
	/* 2 Block model */
	display: flex;
	justify-content: center;
	padding: 12px 20px 10px 20px;

	/* 3 Typography */
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;

	/* 4 Visual */
	border: 1px solid #000000;
	border-bottom: 3px solid #000000;
	border-radius: 5px;

	/* 5 Animation */
	transition: all 0.4s;
}
.intro-page__item a:hover {
	/* 3 Typography */
	color: #FFFFFF;

	/* 4 Visual */
	cursor: pointer;
	background-color: #000000;
}