/*
 * Fonts
 *
 */

$font-main: 'Ubuntu', sans-serif;

/*
 * Colors
 *
 */
$color-black: #000000;
$color-white: #FFFFFF;

/*
 * Animation Speed
 *
 */

$animation-speed: 0.4s;

/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation */

/* 6 Misc */