div.get-coupon
	div.get-coupon__header
		h2.h2.h2--big Получите индивидуальный <span>купон на скидку</span>

		p.st.center сгенерированный специально для вас

	div.get-coupon__body
		div.get-coupon__body-in
			div.get-coupon__img
				img(src="images/get-coupon__img.png" alt="купон на скидку")

			div.get-coupon__info
				p Мы сгенирировали личный купон дающий право на скидку в 30% на покупку любых часов в течении 6 дней
				p.get-coupon__sub-title Выберите куда вам его отправить?

				ul.get-coupon__soc
					li
						img(src="images/icon--whatsapp.png" alt="whatsapp")
						a(href="#") whatsapp

					li
						img(src="images/icon--viber.png" alt="viber")
						a(href="#") viber

					li
						img(src="images/icon--vk.png" alt="вконтакте")
						a(href="#") вконтакте

					li
						img(src="images/icon--email.png" alt="email")
						a(href="#") email