div.total
	div.total__body
		h2.h2 Итого

		div.total__sum 65 500 ₽

		div.total__bottom
			div.total__topay Без учета стоимости доставки.
			div.total__topay Стоимость доставки рассчитает менеджер, после оформления он позвонит вам			

	a.total__btn(href="#") Оформить заказ

	div.total__desc Нажимая на кнопку, вы подтверждаете своё совершеннолетие, соглашаетесь на обработку персональных данных в соответствии с Условиями