div.total
	div.total__body
		h2.h2 Итого

		div.total__sum 65 500 ₽

		div.total__sale Cкидка: 
			span 1 849 ₽

		div.total__bottom
			div.total__topay Сумма к оплате 
				span 65 500 ₽

			div.total__desc Доступыне способы и время доставки можно выбрать при оформлении заказа.

	a.total__btn(href="#") Оформить заказ