div.store-features
	div.store-features__item
		+store-feature({
			img: 'store-feature__icon-01.png',
			title: 'Доставка до квартиры и оплата после получения',
			text: 'Доставляем прямо до квартиры. Не несете никаких рисков, оплата после проверки часов'
		})

	div.store-features__item
		+store-feature({
			img: 'store-feature__icon-02.png',
			title: 'Покупаете модные тренды',
			text: 'Мы продаем только модные часы коллекций  2019-2020 годов'
		})

	div.store-features__item
		+store-feature({
			img: 'store-feature__icon-03.png',
			title: 'Часы без подделок',
			text: 'Официально возим часы в Россию и страны СНГ.'
		})

	div.store-features__item
		+store-feature({
			img: 'store-feature__icon-04.png',
			title: 'При покупке от 2х штук скидка',
			text: 'При покупке от 2х штук бесплатно доставки дадаим скидку от 30% процентов'
		})

	div.store-features__item
		+store-feature({
			img: 'store-feature__icon-04.png',
			title: '14 дней на возврат и обмен',
			text: 'Гарантируем обмен и возврат по любой причине в течение 14 дней Просто звоните и высылаете'
		})

	div.store-features__item
		+store-feature({
			img: 'store-feature__icon-05.png',
			title: 'Гарантия 1 год',
			text: 'Гарантия на механизм часов 1 год Что-то случается без лишних вопросов возвращаем либо высылаем новые'
		})