div.slider-testimonial
  div.slider-testimonial__item
    +testimonial({
      title: 'Денис',
      text: 'Хороший магазин. Продавец предложил несколько вариантов товара, обсудили все нюансы. Очень понравилась работа курьеров – доставили заказ за 1 день!'
    })

  div.slider-testimonial__item
    +testimonial({
      title: 'Денис',
      text: 'Хороший магазин. Продавец предложил несколько вариантов товара, обсудили все нюансы. Очень понравилась работа курьеров – доставили заказ за 1 день!'
    })

  div.slider-testimonial__item
    +testimonial({
      title: 'Денис',
      text: 'Хороший магазин. Продавец предложил несколько вариантов товара, обсудили все нюансы. Очень понравилась работа курьеров – доставили заказ за 1 день!'
    })

  div.slider-testimonial__item
    +testimonial({
      title: 'Денис',
      text: 'Хороший магазин. Продавец предложил несколько вариантов товара, обсудили все нюансы. Очень понравилась работа курьеров – доставили заказ за 1 день!'
    })

  div.slider-testimonial__item
    +testimonial({
      title: 'Денис',
      text: 'Хороший магазин. Продавец предложил несколько вариантов товара, обсудили все нюансы. Очень понравилась работа курьеров – доставили заказ за 1 день!'
    })

  div.slider-testimonial__item
    +testimonial({
      title: 'Денис',
      text: 'Хороший магазин. Продавец предложил несколько вариантов товара, обсудили все нюансы. Очень понравилась работа курьеров – доставили заказ за 1 день!'
    })

  div.slider-testimonial__item
    +testimonial({
      title: 'Денис',
      text: 'Хороший магазин. Продавец предложил несколько вариантов товара, обсудили все нюансы. Очень понравилась работа курьеров – доставили заказ за 1 день!'
    })

  div.slider-testimonial__item
    +testimonial({
      title: 'Денис',
      text: 'Хороший магазин. Продавец предложил несколько вариантов товара, обсудили все нюансы. Очень понравилась работа курьеров – доставили заказ за 1 день!'
    })

  div.slider-testimonial__item
    +testimonial({
      title: 'Денис',
      text: 'Хороший магазин. Продавец предложил несколько вариантов товара, обсудили все нюансы. Очень понравилась работа курьеров – доставили заказ за 1 день!'
    })