div.promo-small
	div.promo-small__img
		a(href="#")
			img(src="images/promo-small__img.png" alt="")

	h3.h3.promo-small__title При покупке 2 часов, в подарок часы

	p.promo-small__desc Срок акции: до 15 ноября 2019 <br>На что действует: на все модели часов

	a.promo-small__btn(href="#") Подробнее