div.requisites
	h2.h2 Реквизиты магазина

	ul.requisites__list
		li.requisites__item
			div.requisites__title Полное наименование:

			div.requisites__text Starry Watch Trade

		li.requisites__item
			div.requisites__title Адрес для приема возврата и&nbsp;корреспонденции:

			div.requisites__text 305005, г.Курск, пр-кт Вячеслава Клыкова, 60-44

		li.requisites__item
			div.requisites__title Юридический адрес:

			div.requisites__text 305005, г.Курск, пр-кт Вячеслава Клыкова, 60-44

	div.center
		a.requisites__btn(href="#") Просмотреть реквизиты полностью