div.how-make-order
	div.how-make-order__item
		div.how-make-order__number 1.
		p.how-make-order__text Положите товар в корзину  или сделайте заказ по телефону

	div.how-make-order__item
		div.how-make-order__number 2.
		p.how-make-order__text Дождитесь звонка оператора для уточнения  адреса и времени доставки

	div.how-make-order__item
		div.div.how-make-order__number 3.
		p.how-make-order__text Узнайте от оператора окончательную сумму к оплате с учетом всех бонусов и скидок

	div.how-make-order__item
		div.how-make-order__number 4.
		p.how-make-order__text Получите часы в своем  городе через  3-5 дней (1-2 дня, если вы в Москве) 

	div.how-make-order__item
		div.how-make-order__number 5.
		p.how-make-order__text Оплатите заказ курьеру или транспортной компании