.product-feature2 {
	/* 1 Positioning */

	/* 2 Block model */

	/* 3 Typography */
	text-align: center;

	/* 4 Visual */

	/* 5 Animation */

	/* 6 Misc */
}
.product-feature2__title {
	/* 1 Positioning */

	/* 2 Block model */
	margin: 0;
	padding-top: 8px;
	padding-bottom: 10px;

	/* 3 Typography */
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;

	/* 4 Visual */

	/* 5 Animation */

	/* 6 Misc */
}
.product-feature2__text {
	/* 1 Positioning */

	/* 2 Block model */

	/* 3 Typography */
	font-size: 14px;
	line-height: 16px;
	color: #575757;

	/* 4 Visual */

	/* 5 Animation */

	/* 6 Misc */
}