footer.footer
	div.container
		div.footer__in
			div.footer__col.footer__col--1
				a.footer__logo(href="/")
					img(src="images/footer__logo.png" alt="storry")

				p &copy; 2020

				p Продажа большого ассортимента разнообразных товаров – основная специализация нашего интернет-магазина. Мы доставим ваш заказ бесплатно в любой уголок мира, осуществим подробную консультацию по товарам и поможем с выбором.

			div.footer__col.footer__col--2
				div.footer__menu
					div
						ul
							li
								a.footer__menu-link(href="#") Доставка и оплата

							li
								a.footer__menu-link(href="#") Как заказать

							li
								a.footer__menu-link(href="#") Гарантии и возврат

							li
								a.footer__menu-link(href="#") О магазине

							li
								a.footer__menu-link(href="#") Контакты

					div
						ul
							li
								a.footer__menu-link(href="#") Для партнеров
								
							li
								a.footer__menu-link(href="#") Оптовые продажи

						div.footer__menu-contacts
							a.footer__email(href="mailto:zakaz@mail.ru") zakaz@mail.ru
							a.footer__tel(href="tel:88005556033") 8 800 555 60 33

				div.footer__botom-mob
					p &copy; Название компании 2008-2018 г
					a(href="#") Политика конфиденциальности
					a(href="#") Пользовательское соглашение

			div.footer__col.footer__col--3
				a.footer__tel(href="tel:88005556033") 
					img.footer__icon(src="images/icon--phone-white.png" alt="")
					|8 (800) 555-60-33

				a.footer__email(href="mailto:zakaz@mail.ru")
					img.footer__icon(src="images/icon--email-white.png" alt="")
					|zakaz@mail.ru

				include ../soc-icons/soc-icons.pug

				a.footer__link(href="#") Политика конфиденциальности и оферта
				a.footer__link(href="#") Пользовательское соглашение