form.form-promocode(action="/" methode="post")
	h3.h3 Есть промокод на скидку?

	div.form-promocode__body
		input(type="text" name="promocode" placeholder="Введите промокод")
		button(type="submit") Применить