div.tabs.tabs--2
	ul.tabs__menu
		li
			a.tabs__menu-active(href="#tabs2_1") Описание

		li
			a(href="#tabs2_2") Технические характеристики

		li
			a(href="#tabs2_3") Доставка

		li
			a(href="#tabs2_4") Гарантия и возврат

	ul.tabs__body
		li.tabs__body-active(id="tabs2_1")
			p Стильные часы Starry Sky Watch – это воплощение изысканности и элегантности. Они предназначены для модниц, стремящихся безупречно одеваться и носить стильные аксессуары. Часы данного бренда отличаются точностью и надежностью.

			p Уникальный высокоточный кварцевый механизм побеспокоится о том, чтобы его владелица никогда и никуда не опаздывала.

			p Уникальный магнитный ремешок позволяет с легкостью одевать часы, при этом не требуется регулировка размера под руку, а его надежность не даст часам слететь с руки.

			p Starry Sky Watch – свежее решение и необычное сочетание материалов, которые дерзко впишутся в любой наряд и выделят Вас среди окружающих.

		li(id="tabs2_2")
			p Технические характеристики

			p Стильные часы Starry Sky Watch – это воплощение изысканности и элегантности. Они предназначены для модниц, стремящихся безупречно одеваться и носить стильные аксессуары. Часы данного бренда отличаются точностью и надежностью.

			p Уникальный высокоточный кварцевый механизм побеспокоится о том, чтобы его владелица никогда и никуда не опаздывала.

			p Уникальный магнитный ремешок позволяет с легкостью одевать часы, при этом не требуется регулировка размера под руку, а его надежность не даст часам слететь с руки.

			p Starry Sky Watch – свежее решение и необычное сочетание материалов, которые дерзко впишутся в любой наряд и выделят Вас среди окружающих.

		li(id="tabs2_3")
			p Доставка

			p Стильные часы Starry Sky Watch – это воплощение изысканности и элегантности. Они предназначены для модниц, стремящихся безупречно одеваться и носить стильные аксессуары. Часы данного бренда отличаются точностью и надежностью.

			p Уникальный высокоточный кварцевый механизм побеспокоится о том, чтобы его владелица никогда и никуда не опаздывала.

			p Уникальный магнитный ремешок позволяет с легкостью одевать часы, при этом не требуется регулировка размера под руку, а его надежность не даст часам слететь с руки.

			p Starry Sky Watch – свежее решение и необычное сочетание материалов, которые дерзко впишутся в любой наряд и выделят Вас среди окружающих.

		li(id="tabs2_4")
			p Гарантия и возврат
			
			p Стильные часы Starry Sky Watch – это воплощение изысканности и элегантности. Они предназначены для модниц, стремящихся безупречно одеваться и носить стильные аксессуары. Часы данного бренда отличаются точностью и надежностью.

			p Уникальный высокоточный кварцевый механизм побеспокоится о том, чтобы его владелица никогда и никуда не опаздывала.

			p Уникальный магнитный ремешок позволяет с легкостью одевать часы, при этом не требуется регулировка размера под руку, а его надежность не даст часам слететь с руки.

			p Starry Sky Watch – свежее решение и необычное сочетание материалов, которые дерзко впишутся в любой наряд и выделят Вас среди окружающих.