doctype html
html(lang="en")
	include include/head.pug
	+head('FAQ')

	body
		include ../blocks/mixins.pug

		div.wrapper
			include ../blocks/header/header.pug
			
			div.container
				+breadcrumbs({
					items: [
						'Главная',
						'Наручные часы Starry Flower Diamond'
					]
				})

				h1.h2 Часто задаваемые вопросы у клиентов магазина
				p.text Выбирайте нужный раздел вопросов справа

				include ../blocks/tabs/tabs.pug		

			div.container.container--sm-no-gutters
				include ../blocks/get-consultation/get-consultation.pug
	
			include ../blocks/footer/footer.pug

		include include/script.pug