div.stock-list
	div.stock-list__item
		+stock({img: 'stock__img1.png', title: 'Название <br>акции', text: '5+1 Покупай больше! <br>Плати меньше!'})

	div.stock-list__item
		+stock({img: 'stock__img1.png', title: 'Название <br>акции', text: '5+1 Покупай больше! <br>Плати меньше!'})

	div.stock-list__item
		+stock({img: 'stock__img1.png', title: 'Название <br>акции', text: '5+1 Покупай больше! <br>Плати меньше!'})