.stock-list {
	/* 2 Block model */
	margin-bottom: 36px;

	@media(min-width: 992px) {
		/* 2 Block model */
		display: flex;
		margin-left: -5px;
		margin-right: -5px;
	}
	@media(min-width: 1200px) {
		/* 2 Block model */
		margin-left: -7px;
		margin-right: -7px;
	}
}
.stock-list__item {
	/* 1 Positioning */

	/* 2 Block model */
	max-width: 510px;
	margin: 0 auto 8px auto;
	box-sizing: border-box;

	/* 3 Typography */

	/* 4 Visual */

	/* 5 Animation */

	/* 6 Misc */

	@media(min-width: 992px) {
		/* 2 Block model */
		width: 33.33333%;
		max-width: none;
		margin: 0 5px 8px 5px;
	}
	@media(min-width: 1200px) {
		/* 2 Block model */
		margin: 0 7px 8px 7px;
	}
}