mixin store-feature(data)
	div.store-feature
		if data.img
			img(src="images/"+data.img alt="")

		if data.number
			div.store-feature__number!=data.number

		if data.title
			h3.h3.store-feature__title!=data.title

		p.store-feature__text!=data.text