div.slider-top
  div.slider-top__item
    div.slider-top__boy
      p.slider-top__title Сделайте свой образ ярким и незабываемым
      p.slider-top__text  с изысканными часами 
        b Starry Sky

      a.slider-top__btn(href="#") 
        img(src="images/icon--arrow-btn.png" alt="")
        span Подробнее

  div.slider-top__item
    div.slider-top__boy
      p.slider-top__title Сделайте свой образ ярким и незабываемым
      p.slider-top__text  с изысканными часами 
        b Starry Sky

      a.slider-top__btn(href="#") 
        img(src="images/icon--arrow-btn.png" alt="")
        span Подробнее

  div.slider-top__item
    div.slider-top__boy
      p.slider-top__title Сделайте свой образ ярким и незабываемым
      p.slider-top__text  с изысканными часами 
        b Starry Sky

      a.slider-top__btn(href="#") 
        img(src="images/icon--arrow-btn.png" alt="")
        span Подробнее