div.documents
	div.documents__item
		div.documents__title Название документа

		a.documents__img(href="#")
			img(src="images/documents__img.png" alt="")

	div.documents__item
		div.documents__title Название документа

		a.documents__img(href="#")
			img(src="images/documents__img.png" alt="")

	div.documents__item
		div.documents__title Название документа

		a.documents__img(href="#")
			img(src="images/documents__img.png" alt="")