.soc-icons {
	/* 1 Positioning */

	/* 2 Block model */
	display: flex;
	margin: 0;
	padding: 0;

	/* 3 Typography */

	/* 4 Visual */
	list-style: none;

	/* 5 Animation */

	/* 6 Misc */
}
.soc-icons li {
	/* 2 Block model */
	padding-right: 12px;
}