ul.soc-icons
	li
		a(href="#")
			img(src="images/soc-icons__ok.png" alt="")

	li
		a(href="#")
			img(src="images/soc-icons__vk.png" alt="")

	li
		a(href="#")
			img(src="images/soc-icons__tw.png" alt="")

	li
		a(href="#")
			img(src="images/soc-icons__fb.png" alt="")