nav.menu
	ul.menu__list
		li.menu__item
			a(href="about.html") Каталог

		li.menu__item
			a(href="price.html") Как заказать

		li.menu__item.menu__item--active
			a(href="price.html") Оплата и доставка

		li.menu__item
			a(href="price.html") Отзывы

		li.menu__item
			a(href="price.html") Вопрос-ответ

		li.menu__item
			a(href="price.html") О магазине

		li.menu__item
			a(href="price.html") Контакты