.menu__list {
	/* 2 Block model */
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;

	/* 4 Visual */
	list-style: none;
}
.menu__item a {
	/* 2 Block model */
	display: block;

	/* 3 Typography */
	font-size: 13px;
	font-weight: 500;
	line-height: 20px;
	text-transform: uppercase;
	text-decoration: none;
	color: #2b2b2b;
	letter-spacing: 2px;

	/* 4 Visual */
	border-bottom: 3px solid #d5ddd3;

	/* 5 Animation */
	transition: all 0.4s;
}
.menu__item a:hover {
	/* 3 Typography */
	color: #a6c19c;
}
.menu__item--active a {
	/* 3 Typography */
	color: #a6c19c;
}