div.how-delivery-works
	h2.h2.h2--big.center Как мы быстро и удобно работает <span>наша доставка</span>

	div.how-delivery-works__body
		div.how-delivery-works__left
			p Все вы знаете, что доставка не всегда проходит гладко, курьеры могут хамить, не привозить в срок и совершать прочие моменты, которые не вызывают радости

			h3 Все эти моменты учли и отобрали те компании для доставки в которых соблюдаются следующие нормы
			
			ul
				li 
					span Наши курьеры звонят и предупреждают о визите заранее
				li 
					span Уделяет вам столько времени, сколько нужно для проверки
				li 
					span Имеет при себе сдачу с любой суммы
				li 
					span Откроет с вами заказ и проверит его



		div.how-delivery-works__right
			div.how-delivery-works__item
				div.how-delivery-works__icon
					img(src="images/how-delivery-works__img1.png" alt="")

				div.how-delivery-works__type
					h3 По Москве (курьер)

					ul
						li
							|Срок: 
							span на следующий день

						li
							|Стоимость: 
							span 350 рублей

						li
							|Оплата: 
							span при получении

			div.how-delivery-works__item
				div.how-delivery-works__icon
					img(src="images/how-delivery-works__img2.png" alt="")

				div.how-delivery-works__type
					h3 По России (СДЭК пункт выдачи)

					ul
						li
							|Срок: 
							span 3-6 дней

						li
							|Стоимость: 
							span 250 рублей

						li
							|Оплата: 
							span при получении

			div.how-delivery-works__item
				div.how-delivery-works__icon
					img(src="images/how-delivery-works__img2.png" alt="")

				div.how-delivery-works__type
					h3 По России (СДЭК до двери)

					ul
						li
							|Срок: 
							span 4-7 дней

						li
							|Стоимость: 
							span 350 рублей

						li
							|Оплата: 
							span при получении