.how-make-order-list {
	/* 1 Positioning */

	/* 2 Block model */
	padding: 0;
	margin: 0;
	padding-top: 15px;
	padding-bottom: 10px;

	/* 3 Typography */

	/* 4 Visual */
	list-style: none;

	/* 5 Animation */

	/* 6 Misc */

	@media(min-width: 768px) {
		/* 2 Block model */
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding-top: 70px;
	}
}
.how-make-order-list__item {
	/* 2 Block model */
	padding-bottom: 10px;
	box-sizing: border-box;

	@media(min-width: 768px) {
		/* 2 Block model */
		width: 50%;
		flex: 0 0 50%;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 35px;
	}
	@media(min-width: 992px) {
		/* 2 Block model */
		width: 33.333333%;
		flex: 0 0 33.333333%;
	}
	@media(min-width: 1200px) {
		/* 2 Block model */
		padding-left: 35px;
		padding-right: 35px;
	}
}
/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation */

/* 6 Misc */