div.form-order
	div.form-order__left
		h2.h2 Контакты
		p.form-order__desc Для подтверждения и оформления заказа

		div.form-order__item
			input(type="text" name="order_name" placeholder="ФИО")

		div.form-order__item
			input(type="text" name="order_email" placeholder="Электронная почта")

		div.form-order__item
			input(type="text" name="order_phone" placeholder="Телефон для связи")

	div.form-order__right
		h2.h2 Комментарий к заказу

		textarea(name="order_coment" placeholder="Комментарий")