ul.store-about-features
	li
		div Доставляем часы по всей России 
	li
		div Делаем доставку Почтой России и транспортными компаниями 
	li
		div Имеем 2 склада хранения - в Москве и Курске 
	li
		div В нашей команде работают 10 человек в доставке, логистике, приеме заказов 