.store-about-features {
	/* 1 Positioning */

	/* 2 Block model */
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;

	/* 3 Typography */

	/* 4 Visual */
	list-style: none;

	/* 5 Animation */

	/* 6 Misc */

	@media(min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 40px;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 0 -10px
	}
	@media(min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 80px;
	}
}
.store-about-features li {
	/* 2 Block model */
	margin-bottom: 10px;
	box-sizing: border-box;	

	@media(min-width: 768px) {
		/* 2 Block model */
		width: 50%;
		flex: 0 0 50%;
		padding: 0 10px;
	}
	@media(min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 25px;
	}
}
.store-about-features div {
	/* 2 Block model */
	box-sizing: border-box;
	padding: 24px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	/* 3 Typography */
	text-align: center;

	/* 4 Visual */
	background-color: #F7F6F9;
}